* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    transition: var(--transition-color);
}

body {
    color: var(--foreground);
    background-color: var(--background);
    transition: var(--transition-color);
    padding-top: var(--header-height);
}

a {
    color: var(--foreground);
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 32px;
}

.icon,
.icon * {
    color: var(--foreground);
}

.bg-background {
    background-color: var(--background);
}

.bg-current-line {
    background-color: var(--current-line);
}

.bg-comment {
    background-color: var(--comment);
}

.bg-selection {
    background-color: var(--selection);
}

.bg-foreground {
    background-color: var(--foreground);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-green {
    background-color: var(--green);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-purple {
    background-color: var(--purple);
}

.bg-red {
    background-color: var(--red);
}

.bg-yellow {
    background-color: var(--yellow);
}
