* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    color: var(--foreground);
    background-color: var(--background);
    transition: var(--transition-color);
}

a {
    color: var(--foreground);
}
