* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    transition: var(--transition-color);
}

body {
    color: var(--foreground);
    background-color: var(--background);
    transition: var(--transition-color);
    padding-top: var(--header-height);
}

a {
    color: var(--foreground);
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 32px;
}

.icon,
.icon * {
    color: var(--foreground);
}
